footer.footer
  .footer__content
    p.copyright
      | All rigth reserved 
      span#current-year 2024
    nav.footer__navigation
      ul.footer__list
        li.footer_item
          a.footer__link(href='/') Home
        li.footer_item
          a.footer__link(href='/tours') Tours
        li.footer_item
          a.footer__link(href='/about') About
        li.footer_item
          a.footer__link(href='/testimonials') Testimonials
