nav.navigation
  h2.navigation__agency-name NeoTravels
  ul.navigation__list
    li.navigation__item
      a.navigation__link(href='/') Home
    li.navigation__item
      a.navigation__link(href='/tours') Tours
    li.navigation__item
      a.navigation__link(href='/about') About
    li.navigation__item
      a.navigation__link(href='/testimonials') Testimonials
